<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html xmlns="http://www.w3.org/1999/html">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link href="style.css" rel="stylesheet" type="text/css" />
    <link href="vendors/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="vendors/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/jquery-ui-1.8.10.custom.min.js"></script>
	<script type="text/javascript" src="js/index.js"></script>
	<script type="text/javascript" src="js/options.js"></script>
    <script type="text/javascript" src="js/storage.js"></script>
    <script type="text/javascript" src="js/utils.js"></script>
  <script id="item-element" type="text/x-template">

  <li>
    <div class="li-header dark-item drug-holder rounded<% if (typeof(minimized)!='undefined' && minimized) { %> minimized <% } %>">
      <a class="refresh" href="#" title="Переставить"><img src="Images/refresh.png" class="middle"/></a>
      <span class="merchant-name"><%=name%></span>
      <% if (profit) { %><span class="profit">&nbsp;+<% print(formatPrice(profit))%></span><% } %>
      <a class="remove right" href="#" title="Удалить торговца"><img src="Images/cross.png" class="middle"/></a>
      <a class="m-set-time right" href="#"><%=refreshed%></a>
    </div>
    <table class="merchant-items">
      <% _.each(items, function(item){ %>
      <tr class="rounded
      <% if (item.count != item.nowcount) { %>
        <%if (item.nowcount) { %>
         modifed half-item
        <% } else { %>
         sold sold-item
        <% } %> modifed-item
      <%} else { %>
        full-item
      <% } %>">
        <td class="pico min-wid"><div style="<%=item.style%>"></div></td>
          <td class="attr min-wid">
              <% if (item.id!=12233 && item.attr.length) { %>
              <div class="inf infico">&nbsp;
                  <ul class="datah">
                      <% _.each(item.attr, function(value){ %>
                      <li class="rounded"><%=value%></li>
                      <% }); %>
                  </ul>
              </div>
              <% } else { %>
              <div class="inf">&nbsp;</div>
              <% } %>
          </td>
          <td><% if (item.refain) { %>
              <span class="refain"><%=item.refain%></span>
              <% } %>
              <% if (item.id==12233 && item.attr.length) { %>
                  <% _.each(item.attr, function(value){ %>
                  <em><%=value%></em>
                  <% }); %>
              <% } %>
              <a href="http://market.lumiro.net/whosell.php?s=<%=item.id%>&field=price&order=asc" title="Кто еще продает"><%=item.name%></a><a href="http://www.poring.ru/items/<%=item.id%>.html" target="_blank" class="external" target="_blank" title="Poring.ru">&nbsp;</a></td>
          <td class="price min-wid text-right"><%=item.price%></td>
          <td class="count min-wid text-center">
              <% if (item.count != item.nowcount && item.nowcount) { %>
              <span class="now-count"><%=item.nowcount%></span>/<span class="start-count"><%=item.count%></span>
              <% } else { %>
              <%=item.nowcount%>
              <% } %>
          </td>
        <td class="profit min-wid text-right"><%=item.profit%></td>
      </tr>
      <% }) %>
    </table>
  </li>
  </script>
</head>
<body>
<iframe id="sandbox" src="sandbox.html" style="display:none"></iframe>
<div id="wrapper" class="light-block screen-middle-block">
<div id="SearchResources">
<h2 class="title">LumiRo merchant monitoring<span>by Kein</span></h2>

    <div class="navbar-inner navbar">
        <ul class="nav" role="navigation">
            <li class="dropdown">
                <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Добавить <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#" title="" id="add_merchant"><i class="icon-user"></i> Торговца</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-submenu"><a href="#" title=""><i class="icon-briefcase"></i> Предмет</a>
                        <ul class="dropdown-menu">
                            <li><a href="#" title="" id="add_item_sell"><i class="icon-user"></i>Продажа</a></li>
                            <li><a href="#" title="" id="add_item_buy"><i class="icon-user"></i>Покупка</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
        <!--<label id="notify" >Уведомления <i class="icon-notify"></i></label>-->
    </div>

<div class="control top">
<!--<input type="button" id="btnAddNewItem" class="button dark-item rounded" value="Добавить торговца"/>-->
</div>
<ul id="itemList" class="sortableUl itemList">

</ul>
</div>
</div>
<div id="info" class="light-block screen-middle-block">
    <p>С вопросами, пожеланиями, или заметками об ошибках пишите на kein.1945@gmail.com</p>
    <p><a href="" title="Подробнее о расширении" target="_blank">Подробнее</a></p>
</div>

<!-- Javascripts -->
<script src="vendors/bootstrap/js/bootstrap-dropdown.js" type="text/javascript"></script>
</body>
</html>
