<!--<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">-->
<html xmlns="http://www.w3.org/1999/html">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="vendors/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="vendors/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

    <script type="text/javascript" src="js/jquery.js"></script>
    <!--<script type="text/javascript" src="js/jquery-ui-1.8.10.custom.min.js"></script>-->
    <!--<script type="text/javascript" src="js/options.js"></script>-->
    <!--<script type="text/javascript" src="js/storage.js"></script>-->
    <!--<script type="text/javascript" src="js/utils.js"></script>-->
    <style type="text/css">
        body {
            position: relative;
            padding-top: 40px;
            font-family: Georgia;
        }
        .popover .table { margin-bottom: 0; }

        #merchant-list-sidebar-container ul.nav { display: block; width: 240px }
        #merchant-list-sidebar-container .divider {background-color:#999}

        .hover-me{
            cursor: pointer; color: #0088cc;
        }
        .item-image {width: 24px; height: 24px; display: inline-block; vertical-align: top;}
        .muted .item-image { opacity: 0.3; }
        .item-image { margin-right: 10px;}
        .row .items-list { margin: 0 20px 0 40px; }
        .items-list .progress {margin: 3px 5px 0 45px; height: 4px }
        .items-list > li {padding: 7px 10px 13px 10px;}
        .items-list > li .profit { margin-right: 45px}
        .items-list > li .count{ opacity: 0.1}
        .items-list > li:hover .count{ opacity: 1}
        .items-list > li .progress{ opacity: 0.5}
        .items-list > li:hover .progress{ opacity: 1}
        .price { color:#468847 }
        .merchant.row{ padding-top:30px}
        .merchant.row h5 {padding-left: 10px;}
        .merchant.row .header { border-bottom: 1px solid #999; }
        .merchant.row .header h3 { color: #333 }
        .merchant.row .header .nav { margin-top: 10px }
        .merchant.row .profit { margin-top: 4px; }
        #merchant-list { margin-top: -40px; padding:20px}
        #merchant-list-sidebar-container { padding-top: 10px; }
        #merchant-tab { padding-bottom: 80px; }
    </style>
</head>
<body>
<iframe id="sandbox" src="sandbox.html" style="display:none"></iframe>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="active"><a href="#" data-tab-id="merchant-tab" class="tab-switch"><i class="icon-user icon-white"></i> Merchants</a></li>
                    <li><a href="#" data-tab-id="buy-tab" class="tab-switch"><i class="icon-gift icon-white"></i> Покупка</a></li>
                    <li><a href="#" data-tab-id="sell-tab" class="tab-switch"><i class="icon-share-alt icon-white"></i> Продажа</a></li>
                    <li><a href="#" id="refresh_data"><i class="icon-refresh icon-white"></i> Обновить <sup id="last-update-time"></sup></a></li>
                </ul>
                <ul class="nav pull-right">
                    <li class="dropdown">
                        <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Добавить <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#prompt" id="add_merchant"><i class="icon-user"></i> Торговца</a></li>
                            <li class="dropdown-submenu"><a href="#" title=""><i class="icon-briefcase"></i> Предмет</a>
                                <ul class="dropdown-menu">
                                    <li><a href="#" ><i class="icon-gift"></i> Покупка</a></li>
                                    <li><a href="#" ><i class="icon-share-alt"></i> Продажа</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#options">Настройки <i class="icon-cog icon-white"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container tab-pane" id="merchant-tab">
    <div class="row">
        <div class="span3" id="merchant-list-sidebar-container">
            <ul class="nav nav-list affix" id="merchant-list-sidebar">
            </ul>
        </div>
        <div class="span9">
            <section id="merchant-list" class="container-fluid" data-spy="scroll" data-target="#merchant-list-sidebar-container">
                <p style="margin-top: 40px">
                    Что бы добавить торговца выберите справа Добавить->Торговца.
                </p>
                <p>
                    Список скупки и продажи будет обновлен, обновление как и раньше раз в 20 минут.
                </p>
                <p>
                    На значке расширения будет отображаться прибыль в кк, с округлением до десятых.
                </p>
                <p>
                    На данные момент работает только отслуживание по торговцам. Покупка и продажа, а так же настройки будут доступны позже.
                </p>
                <p>
                    Заметки косяков и глюков отправляйте на почту kein.1945@gmail.com либо в личку на форуме. Желательно с подробным изложением насколько это возможно.
                    Так же буду благодарен за отзывы о интерфейсе - насколько он не интуитивный и что не понятно.
                    Пожелания привествуются.
                </p>
            </section>
        </div>
    </div>
</div>
<!-- Javascripts -->
<script src="vendors/bootstrap/js/bootstrap-dropdown.js" type="text/javascript"></script>
<script src="vendors/bootstrap/js/bootstrap-tooltip.js" type="text/javascript"></script>
<script src="vendors/bootstrap/js/bootstrap-popover.js" type="text/javascript"></script>
<script src="vendors/bootstrap/js/bootstrap-scrollspy.js" type="text/javascript"></script>
<script src="vendors/bootstrap/js/bootstrap-modal.js" type="text/javascript"></script>

<script type="text/javascript" src="js/storage.js"></script>
<script type="text/javascript" src="js/utils.js"></script>
<script src="js/options.js" type="text/javascript"></script>
<script src="js/lumi/market.js" type="text/javascript"></script>
<script src="js/lumi/tracker.js" type="text/javascript"></script>
<script src="js/underscore-min.js" type="text/javascript"></script>

<script id="item-merchant-sidebar" type="text/x-template">
    <a href="#merc_<%=name%>"><%=name%>
        <!--TODO: items not sould count-->
        <% if (items.sell.length > 0 || items.buy.length > 0) {%><sub>[<%=items.sell.length%>/<%=items.buy.length%>]</sub><% } %>
        <% if (profit.summary > 0) { %><span class="profit pull-right price" data-profit="<%=profit.summary%>">+ <%print(formatPrice(profit.summary))%></span><% } %></a>
</script>
<script id="item-merchant" type="text/x-template">
    <div class="merchant row" id="merc_<%=name%>">
        <div class="navbar ">
            <div class="header clearfix">
                <ul class="nav nav-pills pull-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#"><% print((new Date(update)).getHours()+':'+(new Date(update)).getMinutes())%> <b class="caret"></b></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a tabindex="-1" href="#" class="refresh_merchant" data-name="<%=name%>"><i class="icon-refresh"></i> Переставить</a></li>
                            <li><a tabindex="-1" href="#" class="remove_merchant" data-name="<%=name%>"><i class="icon-remove"></i> Удалить</a></li>
                        </ul>
                    </li>
                </ul>
                <h3><%=name%></h3>
            </div>
        </div>
        <div>
            <% if (items.sell.length){%>
            <h5>Продажа<% if (profit.summary > 0) { %> <sup class="price">+ <%print(formatPrice(profit.summary))%></sup><% } %></h5>
            <ul class="unstyled items-list">
                <% _.each(items.sell, function(item){ %>
                <li>
                    <div>
                        <span<% if (item.amount==0) { %> class="muted"<% } %>>
                        <!--<span style="<%=item.style%>" class="item-image"></span>-->
                        <span class="item-image"><img src="http://file5.ratemyserver.net/items/large/<% if(/\sCard$/.test(item.name)){%>card<%} else { print(item.id)}%>.gif"/></span>
                        <% if (item.refain) { %>
                        <sup><%=item.refain%></sup>
                        <% } %>
                        <span><%=item.name%></span> <% if (item.id!=12233 && (item.features.length || item.slots)){ %><sub<% if (item.id!=12233 && item.features.length) { %> class="cards hover-me"<% } %>>[<% if (item.id!=12233 && item.features.length) { %><%=item.features.length%>/<% } %><%=item.slots%>]</sub><%}%>

                        <% if (item.id!=12233 && item.features.length) { %>
                        <div class="hide">
                            <table class="table table-striped">
                                <tbody>
                                <% _.each(item.features, function(feature){ %>
                                <!--TODO: Use card id-->
                                <tr><td><img src="http://file5.ratemyserver.net/items/small/<% if(/\sCard$/.test(feature.name)){%>card<%} else { print(feature.id)}%>.gif"/> <%=feature.name%></td></tr>
                                <% }); %>
                                </tbody>
                            </table>
                        </div>
                        <% } %>
                        </span>

                            <span class="pull-right<% if (item.amount==0) { %> muted<% } %><% if (item.count > 1) { %> hover-me" rel="tooltip" data-original-title="<% if (item.count != item.amount && item.amount > 0) { %>
                            Еще <%=item.amount%> из <%=item.count%>
                            <% } else { %>Всего <% if(item.amount < 1) {%>было <%}%><%=item.count%><% } %><% } %>"><%print(formatPrice(item.price))%></span>
                        <% if (item.amount < item.count) { %><span class="pull-right profit badge badge-success">+ <%print(formatPrice(item.price*(item.count-item.amount)))%></span>
                        <!--<span class="pull-right price">+ <%print(formatPrice(item.profit))%></span>-->
                        <% } %>
                    </div>
                    <% if (item.count != 1) { %>
                    <% if (item.count != item.amount && item.amount > 0) { %>
                    <div class="progress complete" rel="tooltip" data-original-title="Продано <%print(item.count - item.amount)%> из <%=item.count%>">
                        <div class="bar bar-success" style="width:<%print(100 - 100*item.amount/item.count)%>%"></div>
                        <div class="bar bar-info" style="width:<%print(100*item.amount/item.count)%>%"></div>
                    </div>
                    <% } %>

                    <% } %>


                </li>
                <% }) %>
            </ul>
            <% } %>
        </div>
        <!-- Buy -->

        <div>
            <% if (items.buy.length){%>
            <h5>Покупка<% if (lose.summary > 0) { %> <sup class="price">+ <%print(formatPrice(lose.summary))%></sup><% } %></h5>
            <ul class="unstyled items-list">
                <% _.each(items.buy, function(item){ %>
                <li>
                    <div>
                        <span<% if (item.amount==0) { %> class="muted"<% } %>>
                        <span class="item-image"><img src="http://file5.ratemyserver.net/items/large/<% if(/\sCard$/.test(item.name)){%>card<%} else { print(item.id)}%>.gif"/></span>
                        <span><%=item.name%></span>

                        </span>

                            <span class="pull-right<% if (item.amount==0) { %> muted<% } %><% if (item.count > 1) { %> hover-me" rel="tooltip" data-original-title="<% if (item.count != item.amount && item.amount > 0) { %>
                            Приобретено <%print(item.count-item.amount)%> из <%=item.count%>
                            <% } else { %>Еще <%=item.count%><% } %><% } %>"><%print(formatPrice(item.price))%></span>
                        <% if (item.amount < item.count) { %><span class="pull-right profit badge badge-success">+ <%print(item.count-item.amount)%></span>
                        <% } %><% if (item.amount < item.count) { %><span class="pull-right profit badge badge-warning">- <%print(formatPrice(item.price*(item.count-item.amount)))%></span>
                        <% } %>
                    </div>
                    <% if (item.count != 1) { %>
                    <% if (item.count != item.amount && item.amount > 0) { %>
                    <div class="progress complete" rel="tooltip" data-original-title="Приобретено <%print(item.count - item.amount)%> из <%=item.count%>">
                        <div class="bar bar-success" style="width:<%print(100 - 100*item.amount/item.count)%>%"></div>
                        <div class="bar bar-info" style="width:<%print(100*item.amount/item.count)%>%"></div>
                    </div>
                    <% } %>

                    <% } %>


                </li>
                <% }) %>
            </ul>
            <% } %>
        </div>

    </div>
</script>

</body>
</html>
